<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>꿈 수정</title>
</head>
<body>

<h1>꿈 수정</h1>

<form th:action="@{/dream/{id}/edit(id=${dream.id})}" method="post">
    <label>꿈 내용</label><br>
    <textarea name="content" rows="10" cols="60"
              th:text="${dream.content}"></textarea>
    <br><br>
    <button type="submit">수정 완료</button>
</form>

<br>
<a th:href="@{/dream/{id}(id=${dream.id})}">상세로 돌아가기</a> |
<a th:href="@{/dream/list}">목록으로</a>

</body>
</html>
